<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="userMessage(userMessage)">
    <!--/*@thymesVar id="userMessage" type="com.example.catalog.dto.UserMessageDTO"*/-->
    <div th:if="${userMessage ne null}" class="resAnnouncement section" style="margin-bottom:15px;">
        <section aria-label="Announcement" class="infoContainer" th:classappend="'alert-'+${userMessage.severity}">
            <div class="contentWrapper">
                <div class="iconContainer">
                    <span aria-hidden='true' class='icon fa' th:classappend="${userMessage.severity eq 'danger'? 'fa-times-circle': (userMessage.severity eq 'warning'? 'fa-exclamation-triangle':(userMessage.severity eq 'success'? 'fa-check-circle': 'fa-exclamation-circle')) }"></span>
                </div>
                <div class="textContainer" th:utext="${userMessage.message}"></div>
            </div>
        </section>
    </div>
</th:block>

<th:block th:fragment="sortColumn(search, columnTitle, columnValue)">
    <!--/*@thymesVar id="search" type="com.example.catalog.dto.search.SearchDTO"*/-->
    <!--/*@thymesVar id="columnValue" type="java.lang.String"*/-->
    <!--/*@thymesVar id="columnTitle" type="java.lang.String"*/-->
    <th
            th:attr="aria-sort=${search.sortBy eq columnValue ? (search.orderDir eq 'DESC' ? 'descending' : 'ascending') : null}, aria-label=${columnTitle}+': activate to sort column ' + ${search.sortBy eq columnValue and search.orderDir ne 'DESC' ? 'descending' : 'ascending'}"
            th:data-column-value="${columnValue}" onclick="ru.lib.page.sort(this.getAttribute('data-column-value'))"
            aria-controls="data_table">
        <th:block th:text="${columnTitle}"/>
        <i class="fas" th:classappend="${search.sortBy eq columnValue ? (search.orderDir eq 'DESC'  ? 'fa-sort-amount-down' : 'fa-sort-amount-up-alt') : 'fa-sort'}"></i>
    </th>
</th:block>

</body>
</html>