<!doctype html>
<html lang="en" layout:decorate="~{layout/web}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*@thymesVar id="showDTO" type="com.example.catalog.dto.ShowDTO"*/-->
<!--/*@thymesVar id="#cal" type="com.example.catalog.utilities.CalendarUtil"*/-->
<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" layout:fragment="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-2 border-bottom">
        <h1>Show Editor</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add Track</button>
            </div>
        </div>
    </div>
<!--
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0">
        <h3 class="h3" th:text="${showDTO.title}">Show Title or Date</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>
-->
    <!--
    TODO: Nika - Learn thymeleaf for merging
    https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html
    -->
    <!-- Show Information (Bootstrap Cards) -->
    <th:block th:replace="~{lib :: userMessage(${userMessageDTO})}"/>

    <h4>Show Information</h4>
    <div class="card bg-light mb-2 p-1">
        <form th:object="${showDTO}" th:action="@{/show/save}" method="post">
            <input type="hidden" name="id" th:value="*{id}">

                <div class="form-group mx-2 my-2">
                    <label for="TitleFormControl">Title</label>
                    <input type="text" class="form-control" id="TitleFormControl" name="title" th:value="*{title}">
                </div>

            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="ProgrammerFormControl">Programmer</label>
                    <input type="text" class="form-control" id="ProgrammerFormControl" name="programmer" th:value="*{programmer}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="EmailFormControl">Email address</label>
                    <input type="email" class="form-control" id="EmailFormControl" name="email" th:value="*{email}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="GuestsFormControl">Guests in Studio</label>
                    <input type="text" class="form-control" id="GuestsFormControl" name="guests" th:value="*{guests}">
                </div>
            </div>
            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="StartFormControl">Date & Time Slot</label>
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" id="StartFormControl" name="showTimestamp" th:value="${#cal.getPickerFormat(showDTO.showTimestamp, true)}"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="EndFormControl" name="nameEnd" th:value="${#cal.getPickerFormat(showDTO.showTimestamp, true)}"/>
                    </div>

                </div>
                <script th:inline="javascript" type="text/javascript">
                    /*<![CDATA[*/
                    $(document).ready(function () {
                        let modifiedDateStartInput = $("#StartFormControl");
                        let modifiedDateEndInput = $("#EndFormControl");

                        modifiedDateStartInput.datetimepicker(config.eonasdan.defaultOption);
                        modifiedDateEndInput.datetimepicker(config.eonasdan.defaultEndOption);

                        modifiedDateStartInput.on("dp.change", function (e) {
                            modifiedDateEndInput.data("DateTimePicker").minDate(e.date);
                        });
                        modifiedDateEndInput.on("dp.change", function (e) {
                            modifiedDateStartInput.data("DateTimePicker").maxDate(e.date);
                        });

                    });

                    /*]]>*/
                </script>
            </div>
            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="ShowCatFormControl">Show Category #</label>
                    <input type="number" class="form-control" id="ShowCatFormControl">
                </div>
                <div class="col mx-2 my-2">
                    <label for="CodeFormControl">Code</label>
                    <input type="text" class="form-control" id="CodeFormControl" name="code" th:value="*{code}">
                </div>
                <div class="col mx-2 my-2">
                    <label for="LanguageFormControl">Language</label>
                    <select class="form-control" id="LanguageFormControl" name="language" th:value="*{language}">
                        <option>English</option>
                        <option>French</option>
                        <option>Spanish</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="btn-group float-right mx-2 my-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Cancel</button>
                </div>
                <div class="btn-group float-right mx-2 my-2">
                    <button type="submit" class="btn btn-sm btn-secondary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <h4>Show Schedule</h4>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>CRTC</th>
                <th>Start</th>
                <th>End</th>
                <th>Creator</th>
                <th>Album</th>
                <th>Label</th>
                <th>Title</th>
                <th>Categories</th> <!-- Name: "Checkboxes?" -->
                <th>Length</th>
                <th>Language</th>
            </tr>
            </thead>
            <!-- TODO: Add categories as drop down menu (multiple selection) -->
            <tbody>
            <tr>
                <td>12</td>
                <td>10:30</td>
                <td>11:30</td>
                <td>CJRU 1280AM</td>
                <td>album</td>
                <td>label</td>
                <td>title</td>
                <!-- TODO: Fix Categories (now "tags") multiselect drop down menu -->
                <td>
                    <select class="mdb-select md-form" multiple>
                        <option value="" disabled selected>Category</option>
                        <option value="1">cancon</option>
                        <option value="2">new</option>
                        <option value="3">hit</option>
                        <option value="4">instrmntl</option>
                        <option value="5">TO</option>
                        <option value="6">FemCon</option>
                        <option value="7">Theme</option>
                    </select>
                </td>
                <td>0:1:00</td>
                <td>EN</td>
            </tr>
            </tbody>
        </table>

        <!--    TODO: Display track list as a table here-->
        <!-- TODO: Create a separate window for track editor -->
        <!-- "Add Track" Button -->
        <button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="addTrack()">
            Add Track
        </button>

        <!-- "Add Track" Modal (Placeholder Pop Up) -->
        <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form th:action="@{/track/save}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="trackModalLabel">Add a Track</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" name="showId" th:value="${showDTO.id}">

                            ...

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            let addTrack = null;

            $(document).ready(function () {
                addTrack = function () {
                    let modal = $('#trackModal');

                    modal.modal('show');
                    $('#trackModalLabel').focus();
                };

            });

            /*]]>*/
        </script>

    </div>

</main>
</body>
</html>