<!doctype html>
<html lang="en" layout:decorate="~{layout/web}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*@thymesVar id="showDTO" type="com.example.catalog.dto.ShowDTO"*/-->
<!--/*@thymesVar id="#cal" type="com.example.catalog.utilities.CalendarUtil"*/-->
<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" layout:fragment="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-2 border-bottom">
        <h1>Track Editor</h1>
    </div>
    <!--
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0">
            <h3 class="h3" th:text="${showDTO.title}">Show Title or Date</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>
    -->
    <!--
    TODO: Nika - Learn thymeleaf for merging
    https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html
    -->
    <!-- Track Information (Bootstrap Cards) -->
    <h4>Track Information</h4>
    <div class="card bg-light mb-2 p-1">
        <form th:object="${trackDTO}" th:action="@{/track/save}" method="post">
            <input type="hidden" name="id" th:value="*{id}">

            <!-- Pre populated? && do we need show id? (and id?)-->
            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="TrackShow">Show</label>
                    <input type="text" class="form-control" id="TrackShow" name="show" th:value="*{show}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="TrackTitle">Title</label>
                    <input type="text" class="form-control" id="TrackTitle" name="title" th:value="*{title}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="TrackArtist">Artist</label>
                    <input type="text" class="form-control" id="TrackArtist" name="artist" th:value="*{artist}">
                </div>
            </div>

            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="TrackAlbum">Album</label>
                    <input type="text" class="form-control" id="TrackAlbum" name="album" th:value="*{album}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="TrackLabel">Label</label>
                    <input type="text" class="form-control" id="TrackLAbel" name="label" th:value="*{label}">
                </div>

                <div class="col mx-2 my-2">
                    <label for="TrackLang">Language</label>
                    <input type="text" class="form-control" id="TrackLang" name="language" th:value="*{language}">
                </div>
            </div>

            <!-- TODO: fix - in-line javascript is not working -->
            <div class="row">
                <div class="col mx-2 my-2">
                    <label for="TrackStart">Date & Time Slot</label>
                    <div class="input-group">
                        <input type="text" class="form-control" autocomplete="off" id="TrackStart" name="trackStart"
                               th:value="${#cal.getPickerFormat(trackDTO.trackStart, true)}"/>
                        <div class="input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input type="text" class="form-control" autocomplete="off" id="TrackEnd" name="trackEnd"
                               th:value="${#cal.getPickerFormat(trackDTO.trackEnd, true)}"/>
                    </div>

                </div>
                <script th:inline="javascript" type="text/javascript">
                    /*<![CDATA[*/
                    $(document).ready(function () {
                        let modifiedDateStartInput = $("#TrackStart");
                        let modifiedDateEndInput = $("#TrackEnd");

                        modifiedDateStartInput.datetimepicker(config.eonasdan.defaultOption);
                        modifiedDateEndInput.datetimepicker(config.eonasdan.defaultEndOption);

                        modifiedDateStartInput.on("dp.change", function (e) {
                            modifiedDateEndInput.data("DateTimePicker").minDate(e.date);
                        });
                        modifiedDateEndInput.on("dp.change", function (e) {
                            modifiedDateStartInput.data("DateTimePicker").maxDate(e.date);
                        });
                    });

                    /*]]>*/
                </script>
            </div>

            <!-- Will we be adding the tags/categories in the track DTO? -->

            <div class="form-group">
                <div class="btn-group float-right mx-2 my-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Cancel</button>
                </div>
                <div class="btn-group float-right mx-2 my-2">
                    <button type="submit" class="btn btn-sm btn-secondary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <h4>Show Schedule</h4>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>CRTC</th>
                <th>Start</th>
                <th>End</th>
                <th>Creator</th>
                <th>Album</th>
                <th>Label</th>
                <th>Title</th>
                <th>Categories</th> <!-- Name: "Checkboxes?" -->
                <th>Length</th>
                <th>Language</th>
            </tr>
            </thead>
            <!-- TODO: Add categories as drop down menu (multiple selection) -->
            <tbody>
            <tr>
                <td>12</td>
                <td>10:30</td>
                <td>11:30</td>
                <td>CJRU 1280AM</td>
                <td>album</td>
                <td>label</td>
                <td>title</td>
                <td>categories</td>
                <td>0:1:00</td>
                <td>EN</td>
            </tr>
            </tbody>
        </table>

        <!--    TODO: Display track list as a table here-->
        <!-- Add Track Button -->
        <button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="addTrack()">
            Add Track
        </button>

        <!-- Add Track Modal (Placeholder Pop Up) -->
        <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="trackModalLabel">Choose a Track</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            let addTrack = null;

            $(document).ready(function () {
                addTrack = function () {
                    let modal = $('#trackModal');

                    modal.modal('show');
                    $('#trackModalLabel').focus();
                };

            });

            /*]]>*/
        </script>

    </div>

</main>
</body>
</html>